@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

@font-face {
    font-family: Misses;
    src: url(../fonts/Misses\ Font\ by\ Situjuh\ \(7NTypes\).otf) format("OpenType");
}

@font-face {
    font-family: Bubbleboddy;
    src: url(../fonts/bubbleboddyneue-regular\ trial.ttf) format("TrueType");
}

@font-face {
    font-family: Amsterdan;
    src: url(../fonts/amsterdam-two-ttf.ttf) format("TrueType");
}

@keyframes animacao {
    to {
        transform: translateY(0);
    }
}

:root {
    --cor1: #3DAEAC;
    --cor2: #8ACECD;
    --cor3: #E78790;
    --cor4: #FAD5DB;
    --cor5: #E1F1F0;
    --fonte1: 'Glass Antiqua', cursive;
    --fonte2: 'Misses', cursive;
    --fonte3: 'Bubbleboddy', cursive;
    --fonte4: 'Amsterdan', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../imagens/WhatsApp\ Image\ 2023-01-17\ at\ 20.52.24.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    width: 100vw;
}

header .logo {
    margin-top: 50px;
    text-align: center;

    transform: translateY(-200px);
    animation-name: animacao;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

header .logo img {
    width: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.505);
}

header h1 {
    margin: auto;
    margin-top: 20px;

    text-align: center;

    background-color: var(--cor3);
    color: white;

    width: 90vw;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px var(--cor5);

    transform: translateY(-200px);
    animation-name: animacao;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
    animation-timing-function: ease;
}

main {
    margin: auto;
    margin-top: 80px;

    display: flex;

    background-color: var(--cor3);

    width: 98vw;
    height: 299px;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px var(--cor4);

    transform: translateY(-200px);
    animation-name: animacao;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    animation-timing-function: ease;
}

main .texto {
    float: left;
    width: 50%;
    margin: auto;
}

main>.texto>p {
    font-family: var(--fonte1);
    font-weight: 500;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

main .olga {
    float: right;
    width: 225px;
    margin: auto;
}

main .olga>img {
    width: 100%;
    border-radius: 10px;
}

section {
    background-color: var(--cor1);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px var(--cor5);
    border-radius: 10px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    width: 30vw;
    margin: auto;
    margin-top: 70px;
    padding: 10px;

    transition: .3s;
}

section:hover {
    transform: translate(-5px, -5px);
    box-sizing: border-box;
    box-shadow: 3px 3px 4px var(--cor5);
}

section a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}