@charset "UTF-8";

@media screen and (min-width: 900px){

    body {
        background-image: url(imagens/WhatsApp\ Image\ 2023-01-17\ at\ 20.52.24.jpeg);
        background-size: cover;
        background-position: center center;
        margin-top: 160px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }

    header .logo img{
        width: 70%;
        text-align: center;
    }

    main {
        max-width: 70%;
    }

    main ul li {
        width: 30vw;
    }

    footer {
        position: fixed;
        top: 90%;
        left: 43%;
    }
}